<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.mozocoin.sdk">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:hardwareAccelerated="true"
        android:supportsRtl="true">
        <service
            android:name=".common.service.NetworkSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".contact.AddressAddActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".contact.AddressBookActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".authentication.MozoAuthActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/MozoTheme.Transparent.Dim"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.SecurityActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".transaction.payment.PaymentRequestActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".transaction.TransactionFormActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".transaction.TransactionHistoryActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".transaction.TransactionDetails"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".ui.ScannerQRActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".ui.SettingsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".wallet.ChangePinActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".wallet.ConvertOnChainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".wallet.ConvertOnInOffActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".wallet.ConvertBroadcastActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".wallet.backup.BackupWalletActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme" />
        <activity
            android:name=".wallet.create.CreateWalletActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".wallet.reset.ResetPinActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name="net.openid.appauth.AuthorizationManagementActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.biglabs.mozosdk.${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MaintenanceActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".ui.TodoActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MozoTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>

</manifest>